.item{
    max-width: 1024px;
    padding: 16px;
    margin: 0 auto;
    text-align: center;
}

.item__container{
    display: flex; 
    justify-content: space-around;
    flex-wrap: wrap; 
}

.item__img{
    height: 400px;
    padding-right:1rem ;

}

.item__textContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 500px;
}