.header{
    position: sticky;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;

    background-color: var(--primari-color);  
}

.menu{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;

    display: flex;
    justify-content: center;

    width: 100vw;
    height: 100%;

    background-color: var(--text-color);
    color: var(--primari-color);

    opacity: 0.9;  
    transform: translateX(-100vh);  
    transition: transform 1s ;
}

.active{
    transform: translateX(0);
}

.menu__list{   
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 120px 0 ;
    list-style: none;   
}

.menu__item{
    margin: 40px;
}

.menu__home{
    padding: .5rem 1rem;
    border-radius: 8px;
    background-color: var(--bottom-color);
    color: var(--text-color);
    
}

@media screen and (min-width: 768px){
    .header__title{  
        font-size: 36px;
    }

    .menu{
        position: static;
        width: auto;
        height: auto;

        background-color: inherit;
        color: inherit;

        opacity: 1;  
        transform: translateX(0); 
    }

    .menu__list{
        flex-direction: row;
        margin: 0;          
    }

    .menu__item{
        margin: 12px;
    }   
}
