.deactivateForm{
    display: none;
    opacity: 0;
}

.activeForm{
    display: block;
    margin-top: 24px;
    opacity: 1;
    border-top: 2px solid var(--primari-color-ligth);
}

.reservationForm__container{
    text-align: center;
}

.reservationForm__input{
    border: 1px solid var(--bottom-color);
    border-radius: 4px;
    background-color: var(--primari-color-ligth);
}

.reservationForm__label{
    display: inline-block;
    width: 72px;
    text-align: justify;
}