:root{
  --background-color:#131313  ;
  --primari-color: #01395a;
  --bottom-color: #013757;
  --white: #f2f2f2;
  --ligth-blue: #61dafb;
  --shadow: 0 8px 16px -8px var(--ligth-blue);
}

body {
  padding-bottom: 80px;
  margin: 0;
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',sans-serif;
  color: var(--white);
  background-color: var(--background-color);
}

*,::after,::before{
  box-sizing: border-box;
}

a{   
  color: inherit;
  text-decoration: none;    
} 

ul{
  padding: 0;
  list-style: none;
}

.btn{
  padding: 4px 12px;
  margin: 4px;
  border: 1px solid var(--white);
  border-radius: 8px;     
  
  cursor: pointer;
  box-shadow: var(--shadow);

  font-size: 1rem;
  font-weight: bold;

  background-color: var(--bottom-color);
  color: var(--white);
}